<!-- 
_________________________
THE ROSBAG_PATH ARGUMENT
_________________________
If the argument "rosbag_path" is not provided:
	All the arguments for the realsense camera are passed into the realsense camera node
	Like using rs_d400_and_t265.launch
Otherwise:
	The rosbag file is loaded and played - the realsense camera isn't used
_________________________
THE RVIZ ARGUMENT:
Whether to launch RVIZ and show the markers
_________________________

_________________________
THE GPU ARGUMENT
Whether to do inference of the iGPU or on the CPU
_________________________

-->
<launch>
	<arg name="rosbag_path" default=""/>
	<arg name="rviz" default="True"/>
	<arg name="gpu" default="True"/>


	<arg name="device_type_camera1"				default="t265"/>
	<arg name="device_type_camera2"				default="d4.5"/>		<!-- Note: using regular expression. match D435, D435i, D415... -->
	<arg name="serial_no_camera1"				default=""/>
	<arg name="serial_no_camera2"				default=""/>
	<arg name="camera1"							default="t265"/>
	<arg name="camera2"							default="d400"/>
	<arg name="tf_prefix_camera1"				default="$(arg camera1)"/>
	<arg name="tf_prefix_camera2"				default="$(arg camera2)"/>
	<arg name="initial_reset"					default="false"/>
	<arg name="reconnect_timeout"				default="6.0"/>
	<arg name="enable_fisheye"					default="false"/>
	<arg name="color_width"						default="640"/>
	<arg name="color_height"					default="480"/>
	<arg name="depth_width"						default="640"/>
	<arg name="depth_height"					default="480"/>
	<arg name="clip_distance"					default="-2"/>
	<arg name="topic_odom_in"					default="odom_in"/>
	<arg name="calib_odom_file"					default=""/>

	<group if="$(eval rosbag_path == '')">
		<param name="/use_sim_time" value="false" />
		<group ns="$(arg camera1)">
			<include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
			<arg name="device_type"				value="$(arg device_type_camera1)"/>
			<arg name="serial_no"				value="$(arg serial_no_camera1)"/>
			<arg name="tf_prefix"				value="$(arg tf_prefix_camera1)"/>
			<arg name="initial_reset"			value="$(arg initial_reset)"/>
			<arg name="reconnect_timeout"		value="$(arg reconnect_timeout)"/>
			<arg name="enable_fisheye1"			value="$(arg enable_fisheye)"/>
			<arg name="enable_fisheye2"			value="$(arg enable_fisheye)"/>
			<arg name="topic_odom_in"			value="$(arg topic_odom_in)"/>
			<arg name="calib_odom_file"			value="$(arg calib_odom_file)"/>
			<arg name="enable_pose"				value="true"/>
			</include>
		</group>

		<group ns="$(arg camera2)">
			<include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
			<arg name="device_type"				value="$(arg device_type_camera2)"/>
			<arg name="serial_no"				value="$(arg serial_no_camera2)"/>
			<arg name="tf_prefix"				value="$(arg tf_prefix_camera2)"/>
			<arg name="initial_reset"			value="$(arg initial_reset)"/>
			<arg name="reconnect_timeout"		value="$(arg reconnect_timeout)"/>
			<arg name="align_depth"				value="true"/>
			<arg name="filters"					value="pointcloud"/>
			<arg name="color_width"				value="$(arg color_width)"/>
			<arg name="color_height"			value="$(arg color_height)"/>
			<arg name="depth_width"				value="$(arg depth_width)"/>
			<arg name="depth_height"			value="$(arg depth_height)"/>
			<arg name="clip_distance"			value="$(arg clip_distance)"/>
			</include>
		</group>
		<node pkg="tf" type="static_transform_publisher" name="t265_to_d400" args="0 0 0 0 0 0 /t265_link /d400_link 100"/>
        <node pkg="tf2_ros" type="static_transform_publisher" name="transform" args="0 0 0 0 0 0 /base_link /t265_odom_frame"/>
		<node name="odometry_tf" pkg="object_detection" type="odometry_tf"/>
	</group>

	<group unless="$(eval rosbag_path == '')">
		<param name="/use_sim_time" value="true" />
		<node name="player" pkg="rosbag" type="play" output="log" args="-r 1 --clock $(arg rosbag_path)"/>
		<node pkg="tf2_ros" type="static_transform_publisher" name="st1" args="0 0 0 0 0 0 /d400_link /d400_depth_frame"/>
		<node pkg="tf2_ros" type="static_transform_publisher" name="st2" args="0 0 0 -0.5 0.5 -0.5 0.5 /d400_depth_frame /d400_depth_optical_frame"/>
		<node pkg="tf2_ros" type="static_transform_publisher" name="st3" args="-9.369389590574428e-05 0.014774083159863949 7.438292959704995e-05 -0.010236486792564392 0.0028636795468628407 0.0024234976153820753 0.9999405741691589 /d400_link /d400_color_frame"/>
		<node pkg="tf2_ros" type="static_transform_publisher" name="st4" args="0 0 0 -0.5 0.5 -0.5 0.5 /d400_aligned_depth_to_color_frame /d400_color_optical_frame"/>
		<node pkg="tf2_ros" type="static_transform_publisher" name="st5" args="-9.369389590574428e-05 0.014774083159863949 7.438292959704995e-05 -0.010236486792564392 0.0028636795468628407 0.0024234976153820753 0.9999405741691589 /d400_link /d400_aligned_depth_to_color_frame"/>
		<node pkg="tf2_ros" type="static_transform_publisher" name="st6" args="0 0 0 0 0 0 /t265_pose_frame /t265_link"/>
        <node pkg="tf2_ros" type="static_transform_publisher" name="st7" args="0 0 0 0 0 0 /base_link /t265_odom_frame"/>
        <node pkg="tf2_ros" type="static_transform_publisher" name="st8" args="0 0 0 0 0 0 /base_link /t265_pose_frame"/>
        <node pkg="tf2_ros" type="static_transform_publisher" name="t265_to_d400" args="0 0 0 0 0 0  /t265_link /d400_link"/>
		<node name="odometry_tf" pkg="object_detection" type="odometry_tf"/>
	</group>

	<node name="detect" pkg="object_detection" type="detect3d" cwd="node" args="_gpu:=$(arg gpu)"/>
	<group if="$(arg rviz)">
		<!-- <env name="LIBGL_ALWAYS_SOFTWARE" value="1"/> -->
		<node name="visualiser" pkg="rviz" type="rviz" args="-d $(find object_detection)/../../resources/settings.rviz" required="true"/>
	</group>


</launch>
